# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# TypeScript build artifacts
*.js
*.d.ts
!src/**/*.js
!src/**/*.d.ts

# Optional npm cache directory
.npm/

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.pbxlop
!default.pbxlop
*.xcappdata
!default.xcappdata
*.xcscheme
!default.xcscheme
*.xcworkspace
!default.xcworkspace

# IDEs and other editors
.idea/
.vscode/
*.swp
*.bak
*~.nib
*~.xib
*~.storyboard
*~.xcassets

# Build artifacts
dist/
build/

# Project-related
*_config.json
*-lock.json
.mcp_session_id
.python_version
uv.lock
*.egg-info

#virtual env
.venv
package-lock.json
fabric-link/.python-version
watson_mcprouter_config.json
